*{
  margin:0;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.navbar>h1 {
  color:white;
 
  
}
li{
  margin-top: 10px;
  color:white;
  list-style: none;
  display:inline-block ;
  font-family: sans-serif;
margin-right: 50px;
}
li:hover{
  text-decoration: underline cadetblue ;
  cursor: pointer;
  
}
a{color:white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline cadetblue;
  cursor:pointer
}
.navbar>a{
  color:white;
  margin-right: 20px;
}
.mainText{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
  margin-top: 80px;
  font-weight: 900
}
.secondText{
  color: white;
  text-align: center;
  margin-top: 60vh;
}
.work{
  margin-top:40vh;
}
.who{
  margin-top:40vh;
}
.contact{
  margin-top: 35vh;
}