html{
    scroll-behavior: smooth;
}
body {
  
background-image: url("./bg3.jpg" ) ;
background-repeat: no-repeat;
background-size: cover;
}

::-webkit-scrollbar{
    border-radius: 5px;
    background-color:rgb(23, 26, 26);
    overflow-y: auto;
    width: 10px;
    
}
::-webkit-scrollbar-thumb{
    background-color:black;
}
::-webkit-scrollbar-thumb:hover{
    background: gray;
}
